.oxmod-stock-detail{
/* CSS */
  height: 200px;
  width:100%;
  overflow-x: scroll;
  background-color: rgba(0,0,0,.8);
  text-align: center;

  color:#fff;
  /*transition: all .3s;
  &.hidden{
    margin-bottom: -200px;
  }*/
  .placeholder{
    color:#999;
    font-size:30px;
    line-height: 190px;
  }
  h3{
    font-size:13px;
    font-weight: 400;

    height: 22px;
    line-height: 28px;
  }

  .maintable{
    width:90%;
    margin:5px 5%;
    border-top: solid 1px #fff;
    th,td{
      height:28px;


      border-bottom: solid 1px #fff;
    }
    th{
      text-align: left;
      font-weight: 400;
      color:#999;
      font-size:12px;
    }
    td{
      color:#fff;
      font-size:14px;
      text-align: right;
      &:nth-child(2){
        padding-right:18px;
      }
    }
  }
  .slider{
    width:300%;
    height:100%;
    li{
      color:#fff;
      float: left;
      width:33.33333333333%;
      height:100%;
    }
  }
}
