.oxmod-stock-detail {
  /* CSS */
  height: 200px;
  width: 100%;
  overflow-x: scroll;
  background-color: #000;
  text-align: center;
  color: #fff;
  /*transition: all .3s;
  &.hidden{
    margin-bottom: -200px;
  }*/
}
.oxmod-stock-detail .placeholder {
  color: #999;
  font-size: 30px;
  line-height: 190px;
}
.oxmod-stock-detail h3 {
  font-size: 13px;
  font-weight: 400;
  height: 22px;
  line-height: 28px;
}
.oxmod-stock-detail .maintable {
  width: 90%;
  margin: 5px 5%;
  border-top: solid 1px #fff;
}
.oxmod-stock-detail .maintable th,
.oxmod-stock-detail .maintable td {
  height: 28px;
  border-bottom: solid 1px #fff;
}
.oxmod-stock-detail .maintable th {
  text-align: left;
  font-weight: 400;
  color: #999;
  font-size: 12px;
}
.oxmod-stock-detail .maintable td {
  color: #fff;
  font-size: 14px;
  text-align: right;
}
.oxmod-stock-detail .maintable td:nth-child(2) {
  padding-right: 18px;
}
.oxmod-stock-detail .slider {
  width: 300%;
  height: 100%;
}
.oxmod-stock-detail .slider li {
  color: #fff;
  float: left;
  width: 33.33333333333%;
  height: 100%;
}
